@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.search {
  padding: 0.6rem 1rem;
  border-radius: 20px;
  border: 1px solid #ccc;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

/* MOVIE CARD */
.movie {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.movie img {
  width: 100%;
  display: block;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8px;
  background-color: #333;
  color: #fff;
  height: 100px; /* örnek sabit yükseklik */
  margin-bottom: 0;
}

.movie-info span {
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  font-weight: bold;
}

.green {
  color: #00ff88;
}

.orange {
  color: #ffcc00;
}

.red {
  color: #ff4444;
}

.overview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}

footer {
  background-color: #fff;
  padding: 2rem;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0;
  margin: 1rem 0;
  flex-wrap: wrap;
}

footer li {
  list-style: none;
}

/* Responsive Design*/
@media (max-width: 768px) {
  footer ul {
    flex-direction: column;
    gap: 0.75rem;
    align-items: center;
  }
}
